<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	
	<preference for="Eloom\Core\Model\ResourceModel\Taxvat\ValidatorResolverInterface"
	            type="Eloom\Core\Model\ResourceModel\Taxvat\ValidatorResolver"/>
	
	<type name="Eloom\Core\Model\ResourceModel\Taxvat\ValidatorHandlerFactory">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="ARS" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\ArgentinaHandler</item>
				<item name="BRL" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\BrazilHandler</item>
				<item name="CLP" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\ChileHandler</item>
				<item name="COP" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\DefaultHandler</item>
				<item name="MXN" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\DefaultHandler</item>
				<item name="PAB" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\DefaultHandler</item>
				<item name="PEN" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\PeruHandler</item>
				<item name="USD" xsi:type="string">Eloom\Core\Model\ResourceModel\Taxvat\DefaultHandler</item>
			</argument>
		</arguments>
	</type>
	
	<type name="Eloom\Core\Model\ResourceModel\Taxvat\ValidatorResolver">
		<arguments>
			<argument name="validators" xsi:type="array">
				<item name="ARS" xsi:type="string">ARS</item>
				<item name="BRL" xsi:type="string">BRL</item>
				<item name="CLP" xsi:type="string">CLP</item>
				<item name="COP" xsi:type="string">COP</item>
				<item name="MXN" xsi:type="string">MXN</item>
				<item name="PAB" xsi:type="string">PAB</item>
				<item name="PEN" xsi:type="string">PEN</item>
				<item name="USD" xsi:type="string">USD</item>
			</argument>
		</arguments>
	</type>

	<preference for="Eloom\Core\Api\AutocompleteInterface" type="Eloom\Core\Model\Autocomplete" />

	<preference for="Eloom\Core\Model\ResourceModel\PostalCode\EngineResolverInterface" type="Eloom\Core\Model\ResourceModel\PostalCode\EngineResolver"/>

	<type name="Eloom\Core\Model\Adminhtml\System\Config\Source\PostalCode\Engine">
		<arguments>
			<argument name="engines" xsi:type="array">
				<item name="correios" xsi:type="string">Correios (BRA)</item>
			</argument>
		</arguments>
	</type>
	<type name="Eloom\Core\Model\Adminhtml\System\Config\Source\PostalCode\Engine">
		<arguments>
			<argument name="engines" xsi:type="array">
				<item name="viacep" xsi:type="string">ViaCEP (BRA)</item>
			</argument>
		</arguments>
	</type>

	<type name="Eloom\Core\Model\ResourceModel\PostalCode\EngineHandlerFactory">
		<arguments>
			<argument name="handlers" xsi:type="array">
				<item name="correios" xsi:type="string">Eloom\Core\Model\ResourceModel\PostalCode\CorreiosHandler</item>
				<item name="viacep" xsi:type="string">Eloom\Core\Model\ResourceModel\PostalCode\ViaCepHandler</item>
			</argument>
		</arguments>
	</type>

	<type name="Eloom\Core\Model\ResourceModel\PostalCode\EngineResolver">
		<arguments>
			<argument name="engines" xsi:type="array">
				<item name="correios" xsi:type="string">correios</item>
				<item name="viacep" xsi:type="string">viacep</item>
			</argument>
			<argument name="defaultEngine" xsi:type="string">correios</argument>
			<argument name="path" xsi:type="string">eloom_core/postalcode/engine</argument>
			<argument name="scopeType" xsi:type="string">default</argument>
		</arguments>
	</type>
</config>